version: "3.7"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    restart: always
    ports:
      - "8443:8443"
    volumes:
      - ${KEYCLOAK_HTTPS_PATH}/:/etc/x509/https # map certificates to container
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
      KC_HOSTNAME: ${KEYCLOAK_URL}
      KC_DB_URL: jdbc:postgresql://db:5432/keycloak
      KC_DB: postgres
      KC_DB_USERNAME:  ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_HTTPS_CERTIFICATE_FILE: /etc/x509/https/tls.crt
      KC_HTTPS_CERTIFICATE_KEY_FILE: /etc/x509/https/tls.key
    depends_on:
      - db
    networks:
      - keycloak-net
    command:
      - start

  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: 5432
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - keycloak-net

networks:
  keycloak-net:
    name: keycloak-net
    driver: bridge

volumes:
  postgres-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${KEYCLOAK_DB_PATH}
